.make-default {
	width : 400px;
	height : 25px;
	display : flex;
	align-items : center;
	gap: 8px;
	}

.make-default .list{
	width : 200px;
	}

.make-default .info .info-popup{
	top : 500px;
	right : 455px;
	}
.make-default .info {
	height : 20px;
	}