body {
  margin: 0;
  padding : 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  }

li {
  list-style-type: none;
  }

ul {
  margin  : 0;
  padding : 0;
  }

input[type="text"]::-webkit-input-placeholder { color: #AFB6C6; }
input[type="text"]:-ms-input-placeholder { color: #AFB6C6; }
input[type="text"]::-ms-input-placeholder { color: #AFB6C6; }
input[type="text"]::placeholder { color: #AFB6C6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin : 0;
  padding : 0;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width : 112px;
  display : flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all .4s;
  }

.main.open {
  width : 330px;
  transition: all .4s;
  }

.settings {
  width : 100%;
  display : flex;
  justify-content: flex-start;
  align-items: flex-start;
  }